certifi
ensure==1.0.2
Flask
Flask-Cors
Flask-MonitoringDashboard
imbalanced-learn
imblearn
Jinja2
joblib
jsonschema
kneed
matplotlib
mlflow==2.2.2
numpy
notebook
pandas
python-box==6.0.2
PyYAML
scikit-learn
scipy
sklearn
sklearn-pandas
tqdm
types-PyYAML
Werkzeug
xgboost
zipp


-e .